In [1]:

from pipelines.data_ingestion_pipe import data_ingestion_pipeline

In [2]:
# !zenml init
# !zenml stack set default

In [3]:
db_creation = data_ingestion_pipeline(dir_path='../data/')

Initiating a new run for the pipeline: data_ingestion_pipeline.
Reusing registered pipeline version: (version: 11).
Executing a new run.
Caching is disabled by default for data_ingestion_pipeline.
Using user: default
Using stack: default
  artifact_store: default
  orchestrator: default
You can visualize your pipeline runs in the ZenML Dashboard. In order to try it locally, please run zenml up.
Step step_initialization has started.
No materializer is registered for type <class 'steps.data_ingestion.DataIngestion'>, so the default Pickle materializer was used. Pickle is not production ready and should only be used for prototyping as the artifacts cannot be loaded when running with a different Python version. Please consider implementing a custom materializer for type <class 'steps.data_ingestion.DataIngestion'> according to the instructions at https://docs.zenml.io/user-guide/advanced-guide/artifact-management/handle-custom-data-types
Step step_initialization has finished in 0.051s.
Step step_get_file_list has started.
Step step_get_file_list has finished in 0.029s.
Step step_data_ingestion has started.
Step step_data_ingestion has finished in 0.593s.
Step step_electrical_data_cleaning has started.
Step step_electrical_data_cleaning has finished in 0.240s.
Step step_thermal_data_cleaning has started.
Step step_thermal_data_cleaning has finished in 0.243s.
Step step_data_join has started.
Step step_data_join has finished in 0.534s.
Pipeline run has finished in 1.911s.

In [4]:

from zenml.client import Client

artifact = Client().get_artifact_version('d04b2c2c-903e-4442-a849-f24bbedaafc7')
loaded_artifact = artifact.load()

In [5]:
loaded_artifact

           TIME        DATE  voltage  current  power  Unnamed: 5
0          None  22/02/2024     82.1    1.216  100.2         NaN
1      15:57:38  22/02/2024     82.1    1.216  100.2         NaN
2      15:57:40  22/02/2024     82.1    1.216  100.0         NaN
3      15:57:42  22/02/2024     82.1    1.216  100.0         NaN
4      15:57:44  22/02/2024     82.1    1.216   99.9         NaN
...         ...         ...      ...      ...    ...         ...
25447  12:09:01  06/04/2024     52.4    0.775   40.7         NaN
25448  12:09:02  06/04/2024     52.4    0.775   40.7         NaN
25449  12:09:06  06/04/2024     52.4    0.775   40.7         NaN
25450  12:09:08  06/04/2024     52.4    0.775   40.7         NaN
25451  12:09:09  06/04/2024     52.4    0.775   40.7         NaN

[25452 rows x 6 columns]

In [6]:

from zenml.client import Client

artifact = Client().get_artifact_version('a01c6180-9786-4d44-8838-b2e7c7db42c5')
df_electrical = artifact.load()

In [7]:
from zenml.client import Client

artifact = Client().get_artifact_version('74336734-b18a-430f-a303-ab36d903bb03')
df_thermal = artifact.load()

In [11]:


from zenml.client import Client

artifact = Client().get_artifact_version('4f2e0db8-7c45-4cc2-ae82-0627a6a7541d')
loaded_artifact = artifact.load()

loaded_artifact

,TIME,DATE,TC-1,TC-2,TC-3,TC-4,TC-5,TC-6,TC-7,TC-8,TC-9,PRESSURE,HEATER,HEATER SET POINT,Unnamed: 14,date,voltage,current,power,Unnamed: 5
0,None,22/02/2024,36.5,36.2,35.5,35.3,34.7,29.3,29.0,29.0,26.5,-0.69,47,170,NaN,NaT,82.1,1.216,100.2,NaN
1,15:57:40,22/02/2024,36.5,36.8,36.0,35.8,35.4,29.4,28.9,29.0,26.5,-0.69,47,170,NaN,2024-02-22 15:57:40,82.1,1.216,100.0,NaN
2,15:57:42,22/02/2024,36.5,36.8,36.0,35.8,35.4,29.4,28.9,29.0,26.5,-0.68,48,170,NaN,2024-02-22 15:57:42,82.1,1.216,100.0,NaN
3,15:57:49,22/02/2024,36.5,36.8,36.0,35.8,35.4,29.4,28.9,29.0,26.5,-0.68,48,170,NaN,2024-02-22 15:57:49,82.1,1.216,99.9,NaN
4,15:57:49,22/02/2024,36.5,36.8,36.0,35.8,35.4,29.4,28.9,29.0,26.5,-0.68,48,170,NaN,2024-02-22 15:57:49,82.1,1.215,99.7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19885,12:09:00,06/04/2024,84.3,83.7,84.8,85.2,85.9,38.0,36.2,34.8,31.6,0.05,110,170,NaN,2024-04-06 12:09:00,52.4,0.775,40.8,NaN
19886,12:09:01,06/04/2024,84.3,83.7,84.8,85.2,85.4,37.9,36.6,34.9,31.6,0.05,110,170,NaN,2024-04-06 12:09:01,52.4,0.775,40.7,NaN
19887,12:09:02,06/04/2024,84.3,83.7,84.8,85.2,85.4,37.9,36.6,34.9,31.6,0.03,110,170,NaN,2024-04-06 12:09:02,52.4,0.775,40.7,NaN
19888,12:09:06,06/04/2024,84.3,83.7,84.8,85.2,85.4,37.9,36.6,34.9,31.6,0.03,110,170,NaN,2024-04-06 12:09:06,52.4,0.775,40.7,NaN
19889,12:09:08,06/04/2024,84.3,83.7,84.8,85.2,85.4,37.9,36.6,34.9,31.6,0.03,110,170,NaN,2024-04-06 12:09:08,52.4,0.775,40.7,NaN

In [9]:
import pandas as pd

df = pd.merge(left=df_thermal, right=df_electrical, on=['date', 'TIME', 'DATE'], how='inner')

In [10]:
df

,TIME,DATE,TC-1,TC-2,TC-3,TC-4,TC-5,TC-6,TC-7,TC-8,TC-9,PRESSURE,HEATER,HEATER SET POINT,Unnamed: 14,date,voltage,current,power,Unnamed: 5
0,None,22/02/2024,36.5,36.2,35.5,35.3,34.7,29.3,29.0,29.0,26.5,-0.69,47,170,NaN,NaT,82.1,1.216,100.2,NaN
1,15:57:40,22/02/2024,36.5,36.8,36.0,35.8,35.4,29.4,28.9,29.0,26.5,-0.69,47,170,NaN,2024-02-22 15:57:40,82.1,1.216,100.0,NaN
2,15:57:42,22/02/2024,36.5,36.8,36.0,35.8,35.4,29.4,28.9,29.0,26.5,-0.68,48,170,NaN,2024-02-22 15:57:42,82.1,1.216,100.0,NaN
3,15:57:49,22/02/2024,36.5,36.8,36.0,35.8,35.4,29.4,28.9,29.0,26.5,-0.68,48,170,NaN,2024-02-22 15:57:49,82.1,1.216,99.9,NaN
4,15:57:49,22/02/2024,36.5,36.8,36.0,35.8,35.4,29.4,28.9,29.0,26.5,-0.68,48,170,NaN,2024-02-22 15:57:49,82.1,1.215,99.7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19885,12:09:00,06/04/2024,84.3,83.7,84.8,85.2,85.9,38.0,36.2,34.8,31.6,0.05,110,170,NaN,2024-04-06 12:09:00,52.4,0.775,40.8,NaN
19886,12:09:01,06/04/2024,84.3,83.7,84.8,85.2,85.4,37.9,36.6,34.9,31.6,0.05,110,170,NaN,2024-04-06 12:09:01,52.4,0.775,40.7,NaN
19887,12:09:02,06/04/2024,84.3,83.7,84.8,85.2,85.4,37.9,36.6,34.9,31.6,0.03,110,170,NaN,2024-04-06 12:09:02,52.4,0.775,40.7,NaN
19888,12:09:06,06/04/2024,84.3,83.7,84.8,85.2,85.4,37.9,36.6,34.9,31.6,0.03,110,170,NaN,2024-04-06 12:09:06,52.4,0.775,40.7,NaN
19889,12:09:08,06/04/2024,84.3,83.7,84.8,85.2,85.4,37.9,36.6,34.9,31.6,0.03,110,170,NaN,2024-04-06 12:09:08,52.4,0.775,40.7,NaN