In [1]:
# calling database from database generation pipeline

from zenml.client import Client

artifact = Client().get_artifact_version('8277640f-874c-4db6-a0c9-86fac7db0453')
db = artifact.load()


db.head()

,TIME,DATE,TC_1,TC_2,TC_3,TC_4,TC_5,TC_6,TC_7,TC_8,...,power,WF,FR[%],Q[W],alpha,beta,Te_mean[C],Tc_mean[C],Te_std[C],Tc_std[C]
0,11:02:34,06/04/2024,32.7,33.0,32.3,32.3,32.7,33.1,32.8,32.8,...,0.0,DI water,40.0,60.0,90.0,0.0,32.6,32.225,0.3,1.357387
1,11:02:35,06/04/2024,32.7,33.0,32.3,32.3,32.7,33.1,32.8,32.8,...,0.0,DI water,40.0,60.0,90.0,0.0,32.6,32.225,0.3,1.357387
2,11:02:38,06/04/2024,32.7,33.0,32.3,32.3,32.7,33.1,32.8,32.8,...,114.3,DI water,40.0,60.0,90.0,0.0,32.6,32.225,0.3,1.357387
3,11:02:39,06/04/2024,32.7,33.0,32.3,32.3,32.7,33.1,32.8,32.8,...,114.3,DI water,40.0,60.0,90.0,0.0,32.6,32.225,0.3,1.357387
4,11:02:40,06/04/2024,32.7,33.0,32.3,32.3,32.7,33.1,32.8,32.8,...,102.0,DI water,40.0,60.0,90.0,0.0,32.6,32.225,0.3,1.357387

In [3]:
df_FR60_Q100 = db[(db['FR[%]'] == 60) & (db['Q[W]'] == 100)]
df_FR60_Q100

,TIME,DATE,TC_1,TC_2,TC_3,TC_4,TC_5,TC_6,TC_7,TC_8,...,power,WF,FR[%],Q[W],alpha,beta,Te_mean[C],Tc_mean[C],Te_std[C],Tc_std[C]
7650,17:12:34,21/03/2024,39.6,40.1,39.2,39.1,38.8,32.0,31.6,31.7,...,100.1,DI water,60.0,100.0,90.0,0.0,39.36,31.05,0.502991,1.443376
7651,17:12:35,21/03/2024,40.1,40.6,39.6,39.5,39.2,32.0,31.6,31.7,...,100.1,DI water,60.0,100.0,90.0,0.0,39.80,31.05,0.552268,1.443376
7652,17:12:36,21/03/2024,40.1,40.6,39.6,39.5,39.2,32.0,31.6,31.7,...,6.6,DI water,60.0,100.0,90.0,0.0,39.80,31.05,0.552268,1.443376
7653,17:12:41,21/03/2024,40.1,40.6,39.6,39.5,39.2,32.0,31.6,31.7,...,0.0,DI water,60.0,100.0,90.0,0.0,39.80,31.05,0.552268,1.443376
7654,17:12:42,21/03/2024,40.1,40.6,39.6,39.5,39.2,32.0,31.6,31.7,...,0.0,DI water,60.0,100.0,90.0,0.0,39.80,31.05,0.552268,1.443376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9657,18:19:54,21/03/2024,96.0,95.3,95.5,96.5,97.2,79.7,90.4,78.4,...,103.1,DI water,60.0,100.0,90.0,0.0,96.10,87.80,0.771362,11.295132
9658,18:19:56,21/03/2024,96.0,95.3,95.5,96.5,97.2,80.8,90.6,78.9,...,103.2,DI water,60.0,100.0,90.0,0.0,96.10,88.40,0.771362,11.178253
9659,18:19:58,21/03/2024,96.0,95.3,95.5,96.5,97.2,80.8,90.6,78.9,...,103.1,DI water,60.0,100.0,90.0,0.0,96.10,88.40,0.771362,11.178253
9660,18:19:59,21/03/2024,96.0,95.3,95.5,96.7,96.7,80.8,90.6,78.9,...,103.2,DI water,60.0,100.0,90.0,0.0,96.04,88.40,0.654217,11.178253
9661,18:20:01,21/03/2024,96.0,95.3,95.5,96.7,96.7,79.6,90.5,78.2,...,103.2,DI water,60.0,100.0,90.0,0.0,96.04,87.80,0.654217,11.470251