In [12]:
# calling database form csv

import pandas as pd
import sys, os
# sys.path.insert(0, os.path.abspath(os.path.join(os.path.dirname(__file__), '..')))


db = pd.read_csv('../../data/database/database.csv')
db.head()

,TIME,DATE,TC_1,TC_2,TC_3,TC_4,TC_5,TC_6,TC_7,TC_8,...,power,WF,FR[%],Q[W],alpha,beta,Te_mean[C],Tc_mean[C],Te_std[C],Tc_std[C]
0,11:02:34,06/04/2024,32.7,33.0,32.3,32.3,32.7,33.1,32.8,32.8,...,0.0,DI water,40.0,60.0,90.0,0.0,32.6,32.225,0.3,1.357387
1,11:02:35,06/04/2024,32.7,33.0,32.3,32.3,32.7,33.1,32.8,32.8,...,0.0,DI water,40.0,60.0,90.0,0.0,32.6,32.225,0.3,1.357387
2,11:02:38,06/04/2024,32.7,33.0,32.3,32.3,32.7,33.1,32.8,32.8,...,114.3,DI water,40.0,60.0,90.0,0.0,32.6,32.225,0.3,1.357387
3,11:02:39,06/04/2024,32.7,33.0,32.3,32.3,32.7,33.1,32.8,32.8,...,114.3,DI water,40.0,60.0,90.0,0.0,32.6,32.225,0.3,1.357387
4,11:02:40,06/04/2024,32.7,33.0,32.3,32.3,32.7,33.1,32.8,32.8,...,102.0,DI water,40.0,60.0,90.0,0.0,32.6,32.225,0.3,1.357387

In [6]:
df_FR60_Q100 = db[(db['FR[%]'] == 60) & (db['Q[W]'] == 120)]
df_FR60_Q100

,TIME,DATE,TC_1,TC_2,TC_3,TC_4,TC_5,TC_6,TC_7,TC_8,...,power,WF,FR[%],Q[W],alpha,beta,Te_mean[C],Tc_mean[C],Te_std[C],Tc_std[C]
9662,16:32:36,04/04/2024,39.2,39.4,38.7,38.5,37.7,32.0,31.6,31.6,...,120.9,DI water,60.0,120.0,90.0,0.0,38.70,31.025,0.667083,1.429161
9663,16:32:37,04/04/2024,39.2,39.4,38.7,38.5,37.7,32.0,31.6,31.7,...,120.5,DI water,60.0,120.0,90.0,0.0,38.70,31.050,0.667083,1.443376
9664,16:32:39,04/04/2024,39.2,39.4,38.7,38.5,37.7,32.0,31.6,31.7,...,120.6,DI water,60.0,120.0,90.0,0.0,38.70,31.050,0.667083,1.443376
9665,16:32:40,04/04/2024,39.2,39.4,38.7,38.5,37.7,32.0,31.6,31.7,...,120.8,DI water,60.0,120.0,90.0,0.0,38.70,31.050,0.667083,1.443376
9666,16:32:44,04/04/2024,39.8,40.1,39.3,39.1,38.4,32.0,31.6,31.7,...,120.3,DI water,60.0,120.0,90.0,0.0,39.34,31.050,0.658027,1.443376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11757,17:34:50,04/04/2024,94.4,96.2,96.7,98.2,98.2,73.8,92.2,93.1,...,120.2,DI water,60.0,120.0,90.0,0.0,96.74,90.400,1.583667,12.006942
11758,17:34:52,04/04/2024,94.4,96.2,96.7,98.2,98.2,73.8,92.2,89.4,...,120.1,DI water,60.0,120.0,90.0,0.0,96.74,89.525,1.583667,11.944699
11759,17:34:53,04/04/2024,94.5,96.3,97.0,98.5,98.2,73.8,92.2,89.4,...,120.2,DI water,60.0,120.0,90.0,0.0,96.90,89.525,1.610900,11.944699
11760,17:34:55,04/04/2024,94.5,96.3,97.0,98.5,97.9,74.1,92.5,88.9,...,120.2,DI water,60.0,120.0,90.0,0.0,96.84,89.550,1.554992,11.842719
11761,17:34:59,04/04/2024,94.5,96.3,97.0,98.5,97.9,74.1,92.5,88.9,...,120.1,DI water,60.0,120.0,90.0,0.0,96.84,89.425,1.554992,11.658866